body{
	width:100%;
	height:100%;
	background: url("../images/bg_2.jpg");
}
.outBox{
	/*margin:150px auto;*/
	width:450px;
	height:300px;
	background-color:#ddd;
	box-shadow: 0px 0px 10px #000;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-225px;
}
/*顶部轮播图*/
#slide{
   width: 450px;
   height: 130px;
   box-shadow: 0px 0px 5px #c1c1c1;
   position: relative;
   overflow: hidden;
}
#slide ul{
   position: absolute;
   left: 0px;
   top: 0px;
   height: 130px;
   width: 11300px;
}
#slide ul li{
   width: 450px;
   height: 130px;
   overflow: hidden;
   float: left;
}
#slide .ico{
   width: 450px;
   height: 20px;
   overflow: hidden;
   text-align: center;
   position: absolute;
   left: 0px;
   bottom: 10px;
   z-index: 1;
}
#slide .ico a{
   display: inline-block;
   width: 10px;
   height:10px;
   background: url(out.png) no-repeat 0px 0px;
   margin: 0px 5px;
}
#slide .ico .active{
   background: url(out1.png) no-repeat 0px 0px;
}
#btnLeft{
   width: 60px;
   height: 130px;
   left: 0px;
   top: 0px;
   background: url() no-repeat 0px 0px;
   position: absolute;
   z-index: 2;
}
#btnLeft :hover{
   background: url() no-repeat 0px 0px;
}
#btnRight{
   width: 60px;
   height: 130px;
   right: 0px;
   top: 0px;
   background: url() no-repeat 0px 0px;
   position: absolute;
   z-index: 2;
}
#btnRight:hover{
   background: url() no-repeat 0px 0px;
}  

/*下方的盒子*/
.outBox .bottom{
  float: left;
}
/*bottom左侧图片*/
.outBox .bottom img{
	width:100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	top:150px;
	left:40px;
}
/*账号文本框*/
.outBox .bottom .txt{
	width:210px;
	height:32px;
	border:1px solid #bbb;
	border-radius: 8px 8px 0px 0px;
	position: absolute;
	top:160px;
	left:150px;
	box-sizing: border-box;
	padding-left:7px;
	font-size:14px;
}
.outBox .bottom .txt:hover{
	border:1px solid #00B2EE;
	z-index: 100;
}
/*密码框*/
.outBox .bottom .psd{
	width:210px;
	height:32px;
	border:1px solid #bbb;
	margin-top: -1px;
	border-radius: 0px 0px 8px 8px;
	position: absolute;
	top:192px;
	left:150px;
	box-sizing: border-box;
	padding-left:7px;
	font-size:14px;
}
.outBox .bottom .psd:hover{
	border:1px solid #00B2EE;
}
/*登录按钮*/
.outBox .bottom .btn{
	width:210px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #1E90FF;
	border-radius: 6px;
	position: absolute;
	top:232px;
	left:150px;
	color:#fff;
	font-size: 15px;
}
/*注册账号和找回密码*/
.outBox .bottom .link1,.outBox .bottom .link2{
	height:30px;
	line-height: 30px;
	position: absolute;
	right:25px;
	font-size: 14px;
	color:#1E90FF;
}
.outBox .bottom .link1{
	top:160px;
}
.outBox .bottom .link2{
	top:190px;
}

/*密码框的显示与隐藏*/
.outBox .bottom .pic{
  position: absolute;
  right:100px;
  bottom:82px;
  color:#1E90FF;
  font-family: 700;
}
